@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <title>HOME</title>
    <link rel="stylesheet" href="~/css/cssfile.css">
</head>
<body>
    <header>
        <nav class="n1">
            <div>
                <img src="~/Images/logo1.png" alt="logo">
            </div>
            <div class="d2">
                <a href="">Home</a>
                <a href="">About Us</a>
                <a href="">Team</a>
                <a href="">Address</a>
            </div>
        </nav>
    </header>

    <nav class="n2">
        <div class="d3">
            <img src="~/Images/img3.jpg" alt="photo">
        </div>
        <div class="d4">
            <p>Welcome to RK and Sons Instruments</p>
        </div>
    </nav>


</body>
</html>