<form method="dialog" action="/home/task">
    <input type="text" placeholder="First Name" name="fname" />
    <input type="text" placeholder="Last Name" name="lname" />
    <input type="email" placeholder="email" name="email" />
    <input type="number" placeholder="Enter PH number" name="pno" />
    <label>Gender</label>
    <label> Male</label>
    <input type="radio" name="check" />
    <label>
        female
    </label>
    <input type="radio" name="check" />

</form>
