/* .d1
{
    width: 100%;
    height: 15px;
    background-color: aquamarine;
    display: flex;
} */
body
{
    margin: 0%;
    padding: 0%;
}

.n1
{
    width: 100%;
    height: 100px;
    

}
.d2 a{
   
    padding-right: 10px;
    margin-right: 30px;
    padding-top: 50px;
    color: black;
    float: right;
}
img
{
    width: 190px;
    height: 150px;
    border-top: 0px;
    float: left;
}
.d3 img{
    width: 100%;
    height: 80%;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
.d4
{
    padding-top: 5opx;
    margin-top: 50px;
    text-shadow: 50px;
    font-weight: bolder;
    font-size: 30px;
    
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(3, 3, 3);

}